* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1rem;
    color: rgba(255, 255, 255, .65);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.card-title,
.card-btn,
.card-side-text {
    font-family: 'Blinker', sans-serif;
}

.card-title {
    font-size: 1.75rem;
    color: #05cbe9;
    margin: 0;
}

.card-btn {
    font-size: 1.25rem;
}

/* LAYOUT */

.card {
    background-color: #111D4A;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.card-grid {
    display: grid;
    grid-template: 200px 1em auto auto 100px 1em / 1em auto auto 1em;
}


.card-img {
    grid-row: 1;
    grid-column: 1 / -1;
    object-fit: cover;
    max-height: 100%;
    width: 100%;
}

.card-title {
    grid-row: 3;
    grid-column: 2 / -2;
}

.card-body {
    grid-row: 4;
    grid-column: 2 / -2;
    line-height: 1.6;
}

.card-side-text {
    align-self: end;
    letter-spacing: .9;
    margin: 0;
    grid-row: 5;
    grid-column: 2;
}

.card-btn {
    font-size: 1rem;
    text-decoration: none;
    background-color: #05cbe9;
    color: #111D4A;
    font-weight: 700;
    padding: .4em 1.5em;
    grid-row: 5;
    grid-column: 3;
    align-self: end;
    justify-self: end;
}

span {
    font-size: 1.25em;
    display: block;
    font-weight: bold;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
    .card-grid {
        display: grid;
        grid-template: 1em auto auto auto 1em / 200px auto auto 0px;
        grid-column-gap: 3em;
    }

    .card-img {
        grid-column: 1;
        grid-row: 1 / -1;
    }

    .card-title {
        font-size: 2rem;
        grid-column: 2 / -2;
        grid-row: 2;
    }

    .card-body {
        max-width: 500px;
        font-size: 1.125rem;
        grid-row: 3;
        grid-column: 2 / -2;
    }

    .card-side-text {
        grid-row: 4;
        grid-column: 2;
    }

    .card-btn {
        grid-row: 4;
        grid-column: 3;
    }
}